body {
    background-color: black;
    margin-top: 20px;
}

h1 {
    text-align: center;
}

footer {
    text-align: center;
    color: white;
    margin-top: 10px;
}

.main-container { 
background-color: white;
  display: block;
  margin: 0 auto;
  max-width: 600px;
  padding: 10px 20px 20px 20px;
  border-radius: 10px;  
}

.city-1 {
    margin: 10px;
}

.city-2 {
    margin: 10px;
}